@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

header{
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-left{
    display: flex;
    align-items: center;
}

.header-top-left img{
    height: 50px;
}

.header-top-left span{
    font-size: 1.3rem;
    font-weight: 600;
    color: #5F6368;
}

.header-top-right{
    display: flex;
    align-items: center;
}

.profile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #455A64;
    color: white;
    margin-right: 10px;
}

i{
    font-size: 1.4rem;
    margin-right: 20px;
    color: #5F6368;
}

nav{
    padding-left: 10px;
    padding-top: 5px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-right: 40px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #5F6368;
    padding-bottom: 8px;
}

nav ul li:last-child{
    color: #3367D6;
    border-bottom: 3px solid #3367D6;
}

main{
    width: 50%;
    margin-inline: auto;
    padding-top: 190px;
}

main > div{
    padding-bottom: 70px;
}

h2{
    font-size: 1.3rem;
    color: #3C4043;
    
}

p{
    font-size: 0.9rem;
    margin-top: 35px;
    line-height: 1.5rem;
}